services:
  # ────────────────────────────────────────────────────────────────────────────
  # server:  contains all the logic and orchestration of the solution
  # ────────────────────────────────────────────────────────────────────────────
  application:
    build:
      context: ./application
      dockerfile: Dockerfile
    image: tangermed-chatbot:latest
    ports:
      - ${server_port}:8000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DATABASE_URI=postgresql://${db_user}:${db_pass}@database:5432/${db_name}
      - EMBEDDING_BASE_URL=${server_vllm_embedding_host}
      - EMBEDDING_MODEL=${server_vllm_embedding_name}
      - EMBEDDING_NDIMS=${server_vllm_embedding_ndims}
      - EMBEDDING_KEY=${server_vllm_embedding_key}
      - RERANKER_BASE_URL=${server_vllm_reranking_host}
      - RERANKER_MODEL=${server_vllm_reranking_name}
      - RERANKER_KEY=${server_vllm_reranking_key}
      - GENERATOR_BASE_URL=${server_vllm_generation_host}
      - GENERATOR_MODEL=${server_vllm_generation_name}
      - GENERATOR_KEY=${server_vllm_generation_key}
      - PHONEBOOTH_URL=${server_phonebooth_url}
      - PHONEBOOTH_KEY=${server_phonebooth_key}
      - SMS_API_URL=${server_sms_api_url}
      - SMS_API_KEY=${server_sms_api_key}
      - PROXY_PREFIX=${PROXY_PREFIX:-}
    depends_on:
      - database
    networks:
      - tangermed-chatbot-network
  # ────────────────────────────────────────────────────────────────────────────
  # database: The One-And-Only Database™
  # ────────────────────────────────────────────────────────────────────────────
  database:
    image: postgres:17
    volumes:
      - ./postgres/database-entrypoint.sh:/database-entrypoint.sh
      - ./postgres/database-setup.sh:/docker-entrypoint-initdb.d/database-setup.sh
      - ./postgres/data:/var/lib/postgresql/data
    entrypoint: ["bash", "/database-entrypoint.sh"]
    environment:
      - TARGET_PACKAGES=postgresql-17-pgvector
      - TARGET_DATABASES=${db_name}
      - TARGET_EXTENSIONS=vector
      - POSTGRES_USER=${db_user}
      - POSTGRES_PASSWORD=${db_pass}
    networks:
      - tangermed-chatbot-network

networks:
  tangermed-chatbot-network:
    name: tangermed-chatbot-network
