server_name=Ragcore
server_port=13537


server_vllm_embedding_host=https://localhost/vllm/embedding/
server_vllm_embedding_name=embeddingmodel
server_vllm_embedding_key=your_embedding_api_key_here
server_vllm_embedding_ndims=1024
server_vllm_reranking_name=rerankermodel
server_vllm_reranking_host=https://localhost/vllm/embedding/
server_vllm_reranking_key=your_reranking_api_key_here
server_vllm_generation_host=https://localhost/vllm/atlas1/generation/
server_vllm_generation_name=generationmodel
server_vllm_generation_key=your_generation_api_key_here
server_phonebooth_url=https://localhost/phonebooth
server_phonebooth_key=your_phonebooth_key_here

server_sms_api_url=https://XXXXX.api.infobip.com/sms/2/text/advanced
server_sms_api_key=your_sms_api_key_here

db_name=ragcore
db_user=ragcore
db_pass=ragcore



#deprecated
phonebooth_port=13338

PROXY_PREFIX=/

